extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="Current Password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password", name="newPassword1", placeholder="Verify New Password")
            input(type="submit", value="Change Password")
            //-input은 submit 빼고 다 name이 붙는다.
            //-button type="submit"도 있다.